.logo {
  font-family: 'Gruppo', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(to right, #CCCCFF, #aa75af);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding: 0 4px;
}

.logo::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #CCCCFF, transparent);
  opacity: 0.5;
}